<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <h1>Our Cookbook</h1>
    </header>
    <section class="content">
      <nav>
        <%=link_to 'Home', root_url %>
        <%=link_to 'About', about_url %>
        <%=link_to 'Contact', contact_url %>
      </nav>
      <%= yield %>
    </section>
    <footer>
      <h4>Copyright <%=Date.today.year %> OurCookBook</h4>
    </footer>
  </div>
</body>
</html>
